@import url(./assets/css/reset.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
    @font-face {
        font-family: 'Icones';
        src: url(./assets/font/icones.ttf);
    }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}